//====================================================================================================
.page {
   // .page__dark-section
   &__dark-section {
   }
   // .page__resources
   &__resources {
   }
}
//====================================================================================================
//==== start  ================================================================================================
.dark-section {
   background-color: #1f2025;
   // .dark-section__customers
   &__customers {
   }
   // .dark-section__fuature
   &__fuature {
   }
   // .dark-section__layouts
   &__layouts {
   }
}

//==== finish ================================================================================================
//==== start customers ================================================================================================
.customers {
   // background-color: #1F2025;
   @include adaptiveValue("padding-top", 70, 35);
   @include adaptiveValue("padding-bottom", 70, 35);
   // .customers__container
   &__container {
   }
   // .customers__inner
   &__inner {
   }
   // .customers__title
   &__title {
      font-weight: 700;
      font-size: rem(20);
      line-height: 150%; /* 30/20 */
      color: #ffffff;
      &:not(:last-child) {
         margin-bottom: rem(40);
      }
   }
   // .customers__rows
   &__rows {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(30);
      @media (max-width: $mobile) {
         grid-template-columns: repeat(2, 1fr);
      }
   }
   // .customers__column
   &__column {
   }
   // .customers__item
   &__item {
      background: rgba(255, 255, 255, 0.02);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(25) 0;
   }
   // .customers__image
   &__image {
      width: rem(52);
      height: rem(52);
      img {
         width: rem(39);
         height: rem(39);
      }
   }
   // .customers__name
   &__name {
      font-weight: 700;
      font-size: rem(16);
      line-height: 150%; /* 24/16 */
      color: #ffffff;
   }
}
//==== finish customers ================================================================================================
//====================================================================================================
//==== start fuature ================================================================================================
.fuature {
   @include adaptiveValue("padding-top", 70, 30);
   @include adaptiveValue("padding-bottom", 70, 30);
   @include adaptiveValue("padding-left", 27, 20);
   @include adaptiveValue("padding-right", 27, 20);
   // margin: 0 auto;
   &__inner {
      max-width: rem(1280);
      margin: 0 auto;
   }
   // .fuature__image-ibg
   &__image-ibg {
      padding-top: 34.5%;
      padding-bottom: 34.5%;
      position: relative;
      filter: drop-shadow(-16px -16px 0px rgba(0, 0, 0, 0.5)) drop-shadow(20px 20px 100px rgba(0, 0, 0, 0.4))
         drop-shadow(16px 16px 0px rgba(0, 0, 0, 0.5));
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0%;
         object-fit: cover;
      }
   }
}
//==== finish fuature ================================================================================================
//==== start  ================================================================================================
.layouts {
   background-color: #262f5c;
   @include adaptiveValue("padding-top", 70, 35);
   @include adaptiveValue("padding-bottom", 70, 35);
   // .layouts__container
   &__container {
   }
   // .layouts__inner
   &__inner {
   }
   // .layouts__row
   &__row {
      display: flex;
      align-items: center;
      @media (max-width:$mobile){
         flex-direction: column; 
      }
   }
   // .layouts__content
   &__content {
      flex: 0 1 50%;
      @include adaptiveValue("padding-top", 57, 30);
      @include adaptiveValue("padding-bottom", 57, 30);
      @media (max-width:$mobile){
         max-width: rem(570);
         text-align: center;
         &:not(:last-child) {margin-bottom: rem(30);}
      }
   }
   // .layouts__subtitle
   &__subtitle {
      font-weight: 900;
      font-size: rem(12);
      line-height: 133%; /* 16/12 */
      color: #ffffff;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      &:not(:last-child) {margin-bottom: rem(25);}
   }
   // .layouts__title
   &__title {
      &:not(:last-child) {margin-bottom: rem(25);}
      span {
         color: rgba(241, 32, 82, 1);
      }
      @media (max-width:$mobile){
         font-size: rem(46);
      }
   }
   // .layouts__text
   &__text {
      font-size: rem(20);
      line-height: 150%; /* 30/20 */
      color: #ffffff;
   }
   // .layouts__image
   &__image {
      flex: 0 1 50%;
      text-align: right;
   }
}

//==== finish ================================================================================================
//====================================================================================================
//==== start  ================================================================================================

//==== finish ================================================================================================
//==== start  ================================================================================================

//==== finish ================================================================================================
//====================================================================================================
//==== start  ================================================================================================

//==== finish ================================================================================================
//==== start  ================================================================================================

//==== finish ================================================================================================
//==== start resorces ================================================================================================

.resources-page {
   position: relative;
   background: #fef4fe;
   padding: rem(148) 0 rem(130) 0;
   @media (max-width: $mobile) {
      padding: rem(128) 0 rem(60) 0;
   }
   @media (max-width: $mobileSmall) {
      padding: rem(80) 0 rem(20) 0;
   }
   &__inner {
      padding: rem(70) 0;
      @media (max-width: $mobile) {
         padding: rem(60) 0;
      }
      @media (max-width: $mobileSmall) {
         padding: rem(30) 0 rem(20) 0;
      }
   }
   // .resources-page__container
   &__container {
   }
   // .resources-page__top
   &__top {
      display: flex;
      align-items: end;
      justify-content: space-between;
      &:not(:last-child) {
         margin-bottom: rem(80);
      }
      @media (max-width: $mobile) {
         display: block;
         &:not(:last-child) {
            margin-bottom: rem(35);
         }
      }
   }
   // .resources-page__title
   &__title {
      color: #1f2025;
   }
   // .resources-page__view-resources
   &__view-resources {
      display: flex;
      align-items: center;
      column-gap: rem(14);
      margin-right: rem(10);
   }
   // .resources-page__text
   &__text {
      font-weight: 700;
      font-size: rem(16);
      line-height: 150%; /* 24/16 */
      color: #205bf1;
   }
   // .resources-page__arrow
   &__arrow {
   }
   // .resources-page__slider
   &__slider {
      // background: #e6fdd4;
      @media (max-width: $mobileSmall) {
         // // ? два ряда
         // height: rem(750);
      }
   }
   // .resources-page__wrapper
   &__wrapper {
   }
   // .resources-page__slide
   &__slide {
      @media (max-width: $mobileSmall) {
         // // ? два ряда
         // height: calc((100% - 30px) / 2) !important;
         // overflow: hidden;
      }
   }
   // .resources-page__item
   &__item {
   }
   &__swiper-pagination {
      position: absolute;
      top: 7%;
   }
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.item-resources {
   // padding: rem(250) 0;
   // .item-resources__resource
   &__resource {
   }
   // .item-resources__image
   &__image-ibg {
      padding-bottom: 54.05%;
      // max-width: rem(370);
      // height: rem(200);
      height: auto;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         transition: all 0.3s;
         &:hover {
            transform: scale(1.02);
         }
      }
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   // .item-resources__body
   &__body {
      // padding-bottom: rem(50);
   }
   // .item-resources__chapter
   &__chapter {
      font-weight: 700;
      font-size: rem(12);
      line-height: 133.333%; /* 16/12 */
      letter-spacing: 10%;
      text-transform: uppercase;
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }
   // .item-resources__title
   &__title {
      font-weight: 700;
      font-size: rem(28);
      line-height: 129%; /* 36/28 */
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }
   // .item-resources__link
   &__link {
      display: flex;
      align-items: center;
      column-gap: rem(14);
   }
   // .item-resources__text
   &__text {
      font-weight: 700;
      font-size: rem(16);
      line-height: 150%; /* 24/16 */
      color: #205bf1;
   }
   // .item-resources__arrow
   &__arrow {
   }
}

.resources-page .swiper-pagination-bullet {
   width: rem(8);
   height: rem(8);
   background-color: #1f2025;
   border-radius: 0%;
}

.resources-page .swiper-pagination-bullet-active {
   box-shadow: rem(5) rem(5) rem(5) #dedede;
}
